@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
}

.containerDesarrolloWeb{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.saludoDesarrollo{
    color: #ff335f;
    font-size: 1.4rem;
}

.tituloDesarrollo{
    font-family: "DM Serif Text", serif;
    font-size: 3rem;
    color: #444444;
}
h2{
    font-family: "DM Serif Text", serif;
}
p{
    font-size: 1.2rem;
}
.proyectosWeb,.software{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardProyecto{
    width: 300px;
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    padding: 20px;
    color: #f1f1f1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 1.2rem;
}

.cardProyecto p {
    text-align: center;
}
.cardProyecto h4{
    color: #FF7D21;
    font-family: "League Spartan", serif;
    font-size: 2rem;
    text-align: center;
}
a{
    all: unset;
}
.tecnologias{
    display: flex;
    gap: 10px;
}

.tecnologias img{
    width: 40px;
}
#obema{
    background-image: url('../images/obema.png');
    background-size: cover;
    background-position: center;    
}
#obema:hover{
    background-image: linear-gradient(#46464683, #0000004d),url('../images/obema.png');
}
#estancia38{
    background-image: url('../images/estancia38.png');
    background-size: cover;
    background-position: center;    
}
#estancia38:hover{
    background-image: linear-gradient(#46464683, #0000004d),url('../images/estancia38.png');
}
#modex{
    background-image: url('../images/modex.png');
    background-size: cover;
}
#modex:hover{
    background-image: linear-gradient(#46464683, #0000004d),url('../images/modex.png');
}
#pdv{
    position: relative;
    z-index: -2;
}
.carousel__viewport{
    position: absolute;
    z-index:-1;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.carousel__container {
    display: flex;
    height: 100%;
  }
  .carousel__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
    overflow-y: hidden;
  
  }
  .carousel__slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
  }

  #vales{
    background-image: url('../images/vales.png');
    background-size: cover;
}
#vales:hover{
    background-image: linear-gradient(#46464683, #0000004d),url('../images/vales.png');
}

@media (max-width: 800px) {
    .containerDesarrolloWeb {
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 15px;
    }

    .saludoDesarrollo {
        font-size: 1.2rem;
    }

    .tituloDesarrollo {
        font-size: 2.5rem;
        line-height: .9;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .cardProyecto p{
        color: #000;
        background-color: #f1f2f3;
        border-radius: 6px;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .hola{
        background-color: #ff335f;
        border-radius: 6px;
        padding-bottom: 3px;
        padding-top: 3px;
      }

    .cardProyecto h4 {
        font-size: 1.5rem;
    }
    .proyectosWeb,.software{
        flex-direction: column;
    }
  
}