html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.cont-web {
    width: auto;
    background-color: chartreuse;
}

.cont-doble{

    display: flex;

}

.carusel {
    background-color: #e0e0e0;
}

.barra-lateral{
    background-color: rgb(255, 255, 255);
    /* width: 5%; */
}

.mostrar-prod{
    background-color: #e0e0e0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 10px;
    padding-right: 0px;
}

.bwsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 67px;
    bottom: 120px;
    right: 15px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: bottom 0.3s;
}
.bwsp:hover{
    text-decoration: none;
    color: #0df053;
    background: white;
}

.iconwsp{
    font-size: 4rem;
}

/* .mensWsp{
    position: absolute;
    padding: .5rem 1rem;
    background-color: chocolate;
    color: aliceblue;
    font-size: larger;
    white-space: nowrap;
    font-weight: 700;
    border-radius: .5rem;
    pointer-events: none;
}

.mensWsp::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 3px;
} */