.armadorContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.armador{
    display: flex;
    gap: 2rem;
    width: 90vw;
    height: fit-content;
    border: 1px solid red;
margin-left: -5rem;    
}
.ladoIzquierdoArmador{
display: flex;
flex-direction: column;
height: fit-content;
gap: 1rem;
}
.tipo {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    max-width: 30vw;
    border: 1px solid black;
}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    overflow-y: scroll;
    gap: 3rem;
    row-gap: 1rem;
}

.tipo div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tipo img{
    width: 64px;
    height: 64px;
}
.total{
    font-size: large;
    font-weight: 600;
    
}