html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.cont-web {
    width: auto;
    background-color: chartreuse;
}

.cont-doble{

    display: flex;

}

.carusel {
    background-color: #e0e0e0;
}

.barra-lateral{
    background-color: rgb(255, 255, 255);
    /* width: 5%; */
}

.mostrar-prod{
    background-color: #e0e0e0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 10px;
    padding-right: 0px;
}